<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyj.arrange.mapper.TCiPipelineMapper">

    <resultMap id="BaseResultMap" type="com.cyj.arrange.entry.TCiPipeline">
            <id property="seqId" column="seq_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="cron" column="cron" jdbcType="VARCHAR"/>
            <result property="owner" column="owner" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        seq_id,name,cron,
        owner,status
    </sql>
    <update id="updateStatusBySeqId">
update t_ci_pipeline
 set status = #{status,jdbcType=BOOLEAN}
where
seq_id = #{seqId,jdbcType=NUMERIC}
</update>
</mapper>
