<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyj.arrange.mapper.TCiTaskLogMapper">

    <resultMap id="BaseResultMap" type="com.cyj.arrange.entry.TCiTaskLog">
            <id property="seqId" column="seq_id" jdbcType="INTEGER"/>
            <result property="pipelineLogId" column="pipeline_log_id" jdbcType="INTEGER"/>
            <result property="taskId" column="task_id" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="finishDetail" column="finish_detail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        seq_id,pipeline_log_id,task_id,
        start_time,end_time,finish_detail
    </sql>
</mapper>
