<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyj.arrange.mapper.TLogDataxMapper">

    <resultMap id="BaseResultMap" type="com.cyj.arrange.entry.TLogDatax">
        <id property="seqId" column="seq_id" jdbcType="BIGINT"/>
        <result property="taskId" column="task_id" jdbcType="INTEGER"/>
        <result property="execTime" column="exec_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="BOOLEAN"/>
        <result property="notes" column="notes" jdbcType="VARCHAR"/>
        <result property="endTime" column="end_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        seq_id
        ,task_id,exec_time,
        status,notes,end_time
    </sql>
    <select id="selectPageVo" resultType="com.cyj.arrange.bean.vo.TLogDataxVO">
        select cfg.name,log.* from t_cfg_task cfg join t_log_datax log on cfg.seq_id=log.task_id
         where cfg.owner=#{ownerID}
        <if test="taskName!=null and taskName!=''">
            and cfg.name like concat('%',#{taskName},'%')
        </if >
    </select>
</mapper>
