<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyj.arrange.mapper.TSysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.cyj.arrange.entry.TSysUserRole">
            <id property="seqId" column="seq_id" jdbcType="INTEGER"/>
            <result property="userSeqId" column="user_seq_id" jdbcType="INTEGER"/>
            <result property="roleSeqId" column="role_seq_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        seq_id,user_seq_id,role_seq_id
    </sql>
</mapper>
